extends layout

block content
  h1= title
  p Welcome to #{title}
  
  section.find
    h3 Delete data
    form(action="/finddoc", method="post")
      div.input
        label(for="search") Search
        input(type="text", id="search", name="search")
      button(type="submit") SEARCH 

  section.get
    h3 Get data
    div
      for item in items
        article.item
          div Title: #{item.title}
          div Content: #{item.content}
          div Author: #{item.author}
          div 
            a(href="deletebtn/#{item._id}") DELETE
