extends layout

block content
  h1= title
  p Welcome to #{title}

  //- section.get
  //-   h3 Get data
  //-   a(href="/get-data") LOAD DATA 
  //-   div
  //-     for item in items
  //-       article.item
  //-         div Title: #{item.title}
  //-         div Content: #{item.content}
  //-         div Author: #{item.author}
  //-         div ID: #{item._id}
  p #{somecontent}
